<footer>
    <div class="footerCurve"></div>
     <div class="jointVenture">
          <ul>
             <!-- <li> <img src="/assets/images/indiaFirstLogo.png" alt=""></li>
           <li><img src="/assets/images/legal_General.png" alt=""></li>
            <li><img src="/assets/images/andhraBank.png" alt=""></li> -->
            <li> <img src="/assets/images/updatedbg.jpg" alt=""></li>
        </ul>  
       
    </div>
    <div class="footerWrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Reg. Off: 12th and 13th Floor, North [C] wing, Tower 4, Nesco IT Park, Nesco Center, Western Express Highway, Goregaon (East), Mumbai  400063.</p>
                    <p>IRDAI Regd. No. 143 | CIN: U66010MH2008PLC183679</p>
                    <p>For more details on risk factors, associated terms and conditions and exclusions please read the product brochure before concluding a sale.</p>
                    <p>Trade logo displayed above belongs to M/s Bank of Baroda, and used by IndiaFirst Life Insurance Co. Ltd. under license. is a Corporate Agent of Indiafirst Life Insurance . CA 0004</p>
                    <p>&copy; IndiaFirst Life Insurance Company Limited. All rights reserved.</p>
                </div>
                <div class="col-sm-6">
                    <div class="bewareBox">
                        <h3>BEWARE OF SPURIOUS/FRAUD PHONE CALLS</h3>
                        <p>IRDAI is not involved in activities like selling insurance policies, announcing bonus or investment of premiums. Public receiving such phone calls are requested to lodge a police complaint.</p>
                        
                    </div>
                </div><span href="javascript:void(0)" id="js_toTop" class="toTopArrow"><span class="topArrow icon-top-arrow"></span>TOP</span>
            </div>
        </div>
    </div>
</footer>
